/* ------ Fonts ------ */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ------ Colors ------ */
/* ------ Basic Settings ------ */
html {
  font-size: 10px;
}
section {
  padding: 10rem 0;
}
button {
  background-color: #feb404;
  color: #ffffff;
  padding: 1.6rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
}
/* ------ Typography ------ */
body {
  font-family: 'ProximaNova_reg', "Arial", sans-serif;
  color: #1a1820;
}
/* ------ First screen ------ */
.main {
  background: #ffffff url(../img/1.jpg) center center no-repeat;
  background-size: cover;
  padding: 3rem 0 8.6rem;
}
.tel {
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
  font-size: 2rem;
  color: #1a1820;
}
.offer-form {
  margin-top: 9rem;
}
.offer__title {
  width: 510px;
  text-transform: uppercase;
  line-height: 5.8rem;
  font-size: 4rem;
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
}
.offer__text {
  margin: 2.7rem 0 5rem;
  width: 275px;
  font-size: 2.4rem;
  line-height: 3rem;
}
.offer__coast {
  display: inline-block;
  padding: 2rem 4rem;
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
  width: 227px;
  background-color: #70c849;
  font-size: 1.8rem;
  line-height: 2.9rem;
  text-align: center;
  color: #def1d7;
}
.offer__coast strong {
  font-size: 3rem;
}
.offer__trigger {
  margin-top: 3rem;
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
}
.main-form {
  position: relative;
  display: inline-block;
  padding: 4.6rem 4.7rem 0;
  background-color: #ffffff;
}
.main-form__title {
  width: 26.5rem;
  font-size: 1.8rem;
  margin-bottom: 3.9rem;
}
.main-form__title strong {
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
}
.main-form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline;
  padding: 0.7rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.main-form__input {
  display: block;
  padding: 1.9rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 2.3rem 0;
}
.main-form__btn {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  padding: 2rem 3rem;
}
.main-form small {
  font-size: 12px;
}
.main-form__info {
  position: absolute;
  bottom: -7rem;
  width: 22rem;
  font-size: 1.2rem;
}
