/* ------ Fonts ------ */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ------ Colors ------ */
/* ------ Basic Settings ------ */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', "Arial", sans-serif;
  color: #1a1820;
}
section {
  padding: 10rem 0;
}
.button {
  background-color: #feb404;
  color: #ffffff;
  padding: 1.6rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
}
.button:hover {
  background: #e8a301;
}
.button:focus,
input:focus,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}
/* ------ First screen ------ */
.main {
  background: #ffffff url(../img/1.jpg) center center no-repeat;
  background-size: cover;
  padding: 3rem 0 8.6rem;
}
.tel {
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
  font-size: 2rem;
  color: #1a1820;
}
.offer-form {
  margin-top: 9rem;
}
.offer__title {
  width: 510px;
  text-transform: uppercase;
  line-height: 5.8rem;
  font-size: 4rem;
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
}
.offer__text {
  margin: 2.7rem 0 5rem;
  width: 275px;
  font-size: 2.4rem;
  line-height: 3rem;
}
.offer__coast {
  display: inline-block;
  padding: 2rem 4rem;
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
  width: 227px;
  background-color: #70c849;
  font-size: 1.8rem;
  line-height: 2.9rem;
  text-align: center;
  color: #def1d7;
}
.offer__coast strong {
  font-size: 3rem;
}
.offer__trigger {
  margin-top: 3rem;
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
}
.main-form {
  position: relative;
  display: inline-block;
  padding: 4.6rem 4.7rem 0;
  background-color: #ffffff;
}
.main-form__title {
  width: 26.5rem;
  font-size: 1.8rem;
  margin-bottom: 3.9rem;
}
.main-form__title strong {
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
}
.main-form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline;
  padding: 0.7rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.main-form__input {
  display: block;
  padding: 1.7rem 2rem;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 2.3rem 0;
  font-size: 1.3rem;
}
.main-form__btn {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  padding: 2rem 3rem;
}
.main-form small {
  font-size: 12px;
}
.main-form__info {
  position: absolute;
  bottom: -7rem;
  width: 22rem;
  font-size: 1.2rem;
}
/* ------ Second screen "features-section"------ */
.features__title {
  margin-bottom: 12rem;
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
  font-size: 3.6rem;
  text-align: center;
}
.features__block {
  text-align: center;
}
.features__block h3 {
  font-family: 'ProximaNova_bold', "Arial", sans-serif;
  font-size: 2rem;
  margin: 6rem 0 2.5rem;
}
.features__block p {
  font-size: 1.5rem;
  max-width: 26rem;
  margin: 0 auto;
}
.features__block p a {
  color: #70c849;
}
.slick-active {
  outline: none;
}
.slick-slide img {
  display: inline-block;
}
.prev {
  background: url(../img/leftArrow.svg) center no-repeat;
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: 70%;
}
.next {
  background: url(../img/rightArrow.svg) center no-repeat;
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-size: 70%;
}
/*>1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* 992-1200px */
/* 769-992px */
@media screen and (max-width: 992px) {
  .main {
    background-position: top left;
  }
  .offer {
    text-align: center;
  }
  .offer-form {
    margin-top: 17rem;
  }
  .offer__title {
    font-size: 3rem;
    width: 375px;
    line-height: 4rem;
    position: absolute;
    top: -10rem;
    right: 15rem;
  }
  .offer__text {
    margin: 8rem 0 6rem;
  }
  .offer__trigger {
    margin-top: 6rem;
  }
  .main-form {
    padding: 3rem 3rem 3rem;
    margin-top: 3rem;
  }
}
/* 576-768px */
@media screen and (max-width: 767px) {
  .header-btn {
    margin-top: 17rem;
  }
  .offer__title {
    text-align: center;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: -13rem;
  }
  .offer-form {
    margin-top: 1rem;
  }
  .offer__text {
    margin: 2rem auto;
  }
  .offer__coast {
    display: block;
    margin: 0 auto;
  }
  .main-form {
    padding: 1.6rem 4.7rem;
  }
  .main-form__title {
    margin: 0 auto 3.9rem;
  }
  .main-form__info {
    left: 50%;
    transform: translateX(-50%) translateY(-13%);
  }
  .features__title {
    margin-bottom: 5rem;
    font-size: 2.4rem;
  }
  .features__block h3 {
    margin: 3.7rem 0 2.9rem;
  }
}
/* 320-576px */
@media screen and (max-width: 576px) {
  section {
    padding: 5rem 0 3.7rem;
  }
  .main {
    background: #ffffff url(../img/1.jpg) left center no-repeat;
    background-size: cover;
    padding: 0 0 8.6rem;
  }
  .main .tel {
    font-size: 1.4rem;
  }
  .main button {
    display: block;
    padding: 1.4rem 2rem;
  }
  .main .logo-small {
    margin-top: 3rem;
  }
  .main .offer-form {
    margin-top: 13rem;
  }
  .main .offer__title {
    font-size: 2.2rem;
    width: 275px;
    line-height: 3rem;
    top: -4rem;
  }
  .main .offer__text {
    margin: 2rem auto;
    text-align: center;
    font-size: 1.8rem;
  }
  .main .main-form {
    padding: 1.6rem 1.6rem;
  }
  .main .main-form__title {
    width: 26.2rem;
  }
  .main .tel {
    background-color: #ffffff;
    padding: 1.2rem 0;
  }
}
