/* ------ Specification ------ */
/* ------ Colors ------ */
/* ------ Basic Settings ------ */
html {
  font-size: 10px;
}
section {
  padding: 10rem 0;
}
button {
  background-color: #feb404;
  color: #ffffff;
  padding: 1.6rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-weight: 900;
}
/* ------ Typography ------ */
/* ------ First screen ------ */
.main {
  padding: 20px 0;
}
.tel {
  color: #1a1820;
  font-weight: 900;
  font-size: 2rem;
}
