

/* ------ Fonts ------ */
@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bold() {
	font-family: 'ProximaNova_bold', "Arial", sans-serif;
}

.reg() {
	font-family: 'ProximaNova_reg', "Arial", sans-serif;
}

/* ------ Colors ------ */
@btn-color: #feb404;
@btn-text-color:#fff;
@icon-color: #70C849;
@text:#1a1820;
@danger:#ff0000;
@bg-light:#f5f5f5;
@light:#def1d7;



/* ------ Basic Settings ------ */
html {
	font-size: 10px;
}
body {
	.reg;
	color: @text;
}
section {
	padding: 10rem 0;
}
.button {
	background-color: @btn-color;
	color: @btn-text-color;
	padding: 1.6rem 3rem;
	border-radius: 8px;
	text-transform: uppercase;
	border:none;
	display: inline-block;
	letter-spacing: 0.03rem;
	font-size: 1.2rem;
	.bold;
	&:hover {
		background: darken(@btn-color, 5%);
	}
}
.button,input,a, textarea {
	&:focus {
		outline: none;
	}
}
a:hover{
	text-decoration: none;
}

button:focus {
    outline: none;
}





/* ------ First screen ------ */

.main {
	background: #fff url(../img/1.jpg) center center no-repeat;
	background-size: cover;
	padding: 3rem 0 8.6rem;
}
.tel {
	.bold;
	font-size: 2rem;
	color: @text;
}
.offer {
	&-form {
		margin-top: 9rem;
	}
	&__title {
		width: 510px;
		text-transform: uppercase;
		line-height: 5.8rem;
		font-size: 4rem;
		.bold;
	}
	&__text {
		margin: 2.7rem 0 5rem;
		width: 275px;
		font-size: 2.4rem;
		line-height: 3rem;
	}
	&__coast {
		display: inline-block;
		padding: 2rem 4rem;
		.bold;
		width: 227px;
		background-color: @icon-color;
		font-size: 1.8rem;
		line-height: 2.9rem;
		text-align: center;
		color: @light;
		strong {
			font-size: 3rem;
		}
	}
	&__trigger {
		margin-top: 3rem;
		.bold;
		font-size: 2.2rem;
		text-transform: uppercase;
		letter-spacing: 0.09rem;
	}
}

.main-form {
	position: relative;
	display: inline-block;
	padding: 4.6rem 4.7rem 0;
	background-color: @btn-text-color;
	&__title {
		width: 26.5rem;
		font-size: 1.8rem;
		margin-bottom: 3.9rem;
		strong {
			.bold;
		}
	}
	label {
		position: absolute;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		display: inline;
		padding: 0.7rem;
		font-size: 1.3rem;
		background-color: @btn-text-color;
		
	}
	&__input {
		display: block;
		padding: 1.7rem 2rem;
		width: 100%;
		border:1px solid #dddddd;
		border-radius: 5px;
		margin: 2.3rem 0;
		font-size: 1.3rem;
	}
	&__btn {
		display: block;
		width: 100%;
		font-size: 1.6rem;
		margin-bottom: 1.5rem;
		padding: 2rem 3rem;
	}
	small {
		font-size: 12px;
	}
	&__info {
		position: absolute;
		bottom:-7rem;
		width: 22rem;
		font-size: 1.2rem;
	}
}
 
 /* ------ Second screen "features-section"------ */
.features {
	&__title {
		margin-bottom: 12rem;
		.bold;
		font-size: 3.6rem;
		text-align: center;
		}
	&__block {
		text-align: center;
		h3 {
			.bold;
			font-size: 2rem;
			margin: 6rem 0 2.5rem;
		}
		p {
			font-size: 1.5rem;
			max-width: 26rem;
			margin: 0 auto;
			a {
				color: @icon-color; 
			}
		}
	}

}

 /* ------ Slick Slider------ */
.slick-active {
	outline: none;
}


.slick-slide img {
	display: inline-block;
}
.prev {
	background: url(../img/leftArrow.svg) center no-repeat;
	position: absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border: none;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-size: 70%;
}
.next {
	background: url(../img/rightArrow.svg) center no-repeat;
	position: absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border: none;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background-size: 70%;
}

 /* ------ Modal Windows------ */
.popup {
	display:none;
	position: fixed;
	left: 0;
	top: 0;
	bottom:0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.5);
	&__dialog {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	padding: 3rem 4.8rem;
	background-color: #fff;
	}
	&__content {
		text-align: center;
	}
	&__close {
		position: absolute;
		top: -6%;
		left: 102%;
		color: @btn-text-color;
		border:none;
		background-color: transparent;
		font-size: 5.3rem;
	}
	&__header {
		.bold;
		font-size: 1.8rem;
		margin: 0;
	}
	&__text {
		font-size: 1.8rem;
		width: 26rem;
		line-height: 2rem;
		margin: 0 auto 4rem;
	}
	&__form {
		position: static;
		padding: 0rem;
		display: block;
		textarea {
			padding-bottom: 1.1rem;
		}
	}

}

/*>1200px */
@media (min-width: 1200px) {

	.container {
   		 max-width: 1140px;
	}
	
}

/* 992-1200px */
@media screen and (max-width: 1200px) {


}

/* 769-992px */
@media screen and (max-width: 992px) {
	.main {
		background-position: top left;
	}

	.offer {
		text-align: center;
		&-form {
	    	margin-top: 17rem;
		}
		&__title {
			font-size: 3rem;
			width: 375px;
			line-height: 4rem;
			position: absolute;
			top: -10rem;
			right: 15rem;
		}
		&__text {
		    margin: 8rem 0 6rem;
		}
		&__trigger {
			margin-top: 6rem;
		}
	}

	.main-form {
		padding: 3rem 3rem 3rem;
		margin-top: 3rem;
	}
}

/* 576-768px */
@media screen and (max-width: 767px) {
	.header-btn {
		margin-top: 17rem;
	}
	.offer__title {
		text-align: center;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		top: -13rem;
	}
	.offer-form {
	    margin-top: 1rem;
	}
	.offer__text {
		margin: 2rem auto;
	}
	.offer__coast {
		display: block;
		margin: 0 auto;
	}
	.main-form {
		padding: 1.6rem 4.7rem;
		&__title {
			margin: 0 auto 3.9rem;
		}
		&__info {
			left: 50%;
			transform: translateX(-50%) translateY(-13%);
		}

	}
	.features {
		&__title {
			margin-bottom: 5rem;
			font-size: 2.4rem;
		}
		&__block {
			h3 {
				margin: 3.7rem 0 2.9rem;
			}
		}
	}

}
/* 320-576px */
@media screen and (max-width: 576px) {

	section {
		padding: 5rem 0 3.7rem;
	}

	
	.main {
		background: #fff url(../img/1.jpg) left center no-repeat;
		background-size: cover;
		padding: 0 0 8.6rem;
		.tel {
		    font-size: 1.4rem;
		}
		button {
			display: block;
			padding: 1.4rem 2rem;
		}
		.logo-small {
			margin-top: 3rem;
		}
		.offer {
			&-form {
				margin-top: 13rem;
			}
			&__title {
			    font-size: 2.2rem;
			    width: 275px;
			    line-height: 3rem;
			    top: -4rem;
			}
			&__text {
				margin: 2rem auto;
				text-align: center;
				font-size: 1.8rem;
			}

		}
		.main-form {
		    padding: 1.6rem 1.6rem;
		    &__title {
		    	width: 26.2rem;
		    }
		}
		.tel {
			background-color: @btn-text-color;
			padding: 1.2rem 0;
		}
	}

	
}

	
