

/* ------ Fonts ------ */
@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bold() {
	font-family: 'ProximaNova_bold', "Arial", sans-serif;
}

.reg() {
	font-family: 'ProximaNova_reg', "Arial", sans-serif;
}

/* ------ Colors ------ */
@btn-color: #feb404;
@btn-text-color:#fff;
@icon-color: #70C849;
@text:#1a1820;
@danger:#ff0000;
@bg-light:#f5f5f5;
@light:#def1d7;



/* ------ Basic Settings ------ */
html {
	font-size: 10px;
}
section {
	padding: 10rem 0;
}
button {
	background-color: @btn-color;
	color: @btn-text-color;
	padding: 1.6rem 3rem;
	border-radius: 8px;
	text-transform: uppercase;
	border:none;
	display: inline-block;
	letter-spacing: 0.03rem;
	font-size: 1.2rem;
	.bold;

}



/* ------ Typography ------ */
body {
	.reg;
	color: @text;
}


/* ------ First screen ------ */

.main {
	background: #fff url(../img/1.jpg) center center no-repeat;
	background-size: cover;
	padding: 3rem 0 8.6rem;
}
.tel {
	.bold;
	font-size: 2rem;
	color: @text;
}
.offer {
	&-form {
		margin-top: 9rem;
	}
	&__title {
		width: 510px;
		text-transform: uppercase;
		line-height: 5.8rem;
		font-size: 4rem;
		.bold;
	}
	&__text {
		margin: 2.7rem 0 5rem;
		width: 275px;
		font-size: 2.4rem;
		line-height: 3rem;
	}
	&__coast {
		display: inline-block;
		padding: 2rem 4rem;
		.bold;
		width: 227px;
		background-color: @icon-color;
		font-size: 1.8rem;
		line-height: 2.9rem;
		text-align: center;
		color: @light;
		strong {
			font-size: 3rem;
		}
	}
	&__trigger {
		margin-top: 3rem;
		.bold;
		font-size: 2.2rem;
		text-transform: uppercase;
		letter-spacing: 0.09rem;
	}
}

.main-form {
	position: relative;
	display: inline-block;
	padding: 4.6rem 4.7rem 0;
	background-color: @btn-text-color;
	&__title {
		width: 26.5rem;
		font-size: 1.8rem;
		margin-bottom: 3.9rem;
		strong {
			.bold;
		}
	}
	label {
		position: absolute;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		display: inline;
		padding: 0.7rem;
		font-size: 1.3rem;
		background-color: @btn-text-color;
		
	}
	&__input {
		display: block;
		padding: 1.9rem 0;
		width: 100%;
		border:1px solid #dddddd;
		border-radius: 5px;
		margin: 2.3rem 0;
	}
	&__btn {
		display: block;
		width: 100%;
		font-size: 1.6rem;
		margin-bottom: 1.5rem;
		padding: 2rem 3rem;
	}
	small {
		font-size: 12px;
	}
	&__info {
		position: absolute;
		bottom:-7rem;
		width: 22rem;
		font-size: 1.2rem;
	}
}

