

/* ------ Fonts ------ */
@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bold() {
	font-family: 'ProximaNova_bold', "Arial", sans-serif;
}

.reg() {
	font-family: 'ProximaNova_reg', "Arial", sans-serif;
}

/* ------ Colors ------ */
@btn-color: #feb404;
@btn-text-color:#fff;
@icon-color: #70C849;
@text:#1a1820;
@danger:#ff0000;
@bg-light:#f5f5f5;
@light:#def1d7;

/* ------ Form ------*/
.form {
	position: relative;
	display: inline-block;
	padding: 4.6rem 2.7rem 0;
	background-color: @btn-text-color;
	&__title {
		width: 26.5rem;
		font-size: 1.8rem;
		margin: 0 auto 3.9rem;
		strong {
			.bold;
		}
	}
	label {
		position: absolute;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		display: inline;
		padding: 0.7rem;
		font-size: 1.3rem;
		background-color: @btn-text-color;
	}
	&__input {
		display: block;
		padding: 1.7rem 2rem;
		width: 100%;
		border:1px solid #dddddd;
		border-radius: 5px;
		margin: 2.3rem 0;
		font-size: 1.3rem;
	}
	&__btn {
		display: block;
		width: 100%;
		font-size: 1.6rem;
		margin-bottom: 1.5rem;
		padding: 2rem 1.2rem;
	}
}


/* ------ Basic Settings ------ */
html {
	font-size: 10px;
}
body {
	.reg;
	color: @text;
}
section {
	padding: 10rem 0;
}
li {
	list-style-type: none;
}
ul {
	padding: 0;
}
.dots {
	font-family: slick;
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.5;
    color: rgb(40, 107, 10);
    -webkit-font-smoothing: antialiased;
}
.button {
	background-color: @btn-color;
	color: @btn-text-color;
	padding: 1.6rem 1.2rem;
	border-radius: 8px;
	text-transform: uppercase;
	border:none;
	display: inline-block;
	letter-spacing: 0.03rem;
	font-size: 1.2rem;
	.bold;
	&:hover {
		background: darken(@btn-color, 5%);
	}
}
.button,input,a, textarea {
	&:focus {
		outline: none;
	}
}
a:hover{
	text-decoration: none;
}

button:focus {
    outline: none;
}

.section-title {
	.bold;
	font-size: 3.6rem;
	text-align: center;
}

.section-title_light {
	color: @btn-text-color;
}




/* ------ First screen ------ */

.main {
	background: #fff url(../img/1.jpg) center center no-repeat;
	background-size: cover;
	padding: 3rem 0 8.6rem;
}
.tel {
	.bold;
	font-size: 2rem;
	color: @text;
}
.offer {
	&-form {
		margin-top: 9rem;
	}
	&__title {
		width: 510px;
		text-transform: uppercase;
		line-height: 5.8rem;
		font-size: 4rem;
		.bold;
	}
	&__text {
		margin: 2.7rem 0 5rem;
		width: 275px;
		font-size: 2.4rem;
		line-height: 3rem;
	}
	&__coast {
		display: inline-block;
		padding: 2rem 4rem;
		.bold;
		width: 227px;
		background-color: @icon-color;
		font-size: 1.8rem;
		line-height: 2.9rem;
		text-align: center;
		color: @light;
		strong {
			font-size: 3rem;
		}
	}
	&__trigger {
		margin-top: 3rem;
		.bold;
		font-size: 2.2rem;
		text-transform: uppercase;
		letter-spacing: 0.09rem;
	}
}

.form {
	
	small {
		font-size: 12px;
	}
	&__info {
		position: absolute;
		bottom:-7rem;
		width: 21rem;
		font-size: 1.2rem;
	}
}
 
 /* ------ Second screen "features-section"------ */
.features {
	&__slider {
		margin-top: 12rem;
	}
	&__block {
		text-align: center;
		h3 {
			.bold;
			font-size: 2rem;
			margin: 6rem 0 2.5rem;
		}
		p {
			font-size: 1.5rem;
			max-width: 26rem;
			margin: 0 auto;
			a {
				color: @icon-color; 
			}
		}
	}

}

/* ------ Therd screen "price-section"------ */
.price{
	&-section {
		background: #286a0a url(../img/therdScreen/bg.jpg) center;
		text-align: center;
	}
	&-head{
		&__text {
			margin: 5.2rem 0 9rem;
			font-size: 1.7rem;
			color: @btn-text-color;
		}
		&__button {
			display: inline-block;
		}
	}
	&-block {
		padding: 1rem 3rem 2rem;
		background-color: #fff;
		box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
		text-align: center;
		min-height: 66rem;
		h4 {
			margin: 3rem 0 0;
			font-size: 1.9rem;
			.bold;
			min-height: 5rem;
		}
		img {
			width: 100%;
			max-width: 40rem
		}
		&__number {
			display: block;
			margin: 3rem 0 3.5rem;
			.bold;
			font-size: 1.9rem;
			strong {
				font-size: 3rem;
			}
		}
		&__list {
			min-height: 16rem;
			li {
				font-size: 1.6rem;
				line-height: 2.8rem;
				.bold;
				&:before {
					content: '';
					display: inline-block;
					width: 1rem;
					height: 1rem;
					background: url(../img/therdScreen/check.svg) no-repeat center;
					background-size: 100%;
					vertical-align: middle;
					margin-right: 1rem;

				}
			}
		}
		
	}
		
}


/* ------ Forth screen "feedback"------ */

.feedback {
	position: relative;
	background: #fff url(../img/feedBack/background.jpg) center no-repeat;
	background-size: cover;
	h3 {
		margin-bottom: 8.5rem;
	}
	&-slider {
		background-color: @btn-text-color;
		box-shadow: 6px 10px 18px 0 rgba(0, 0, 0, 0.11);
		padding: 5.5rem 6rem;
		&__btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 4rem;
			height: 5rem;
			border: none;
			background-color: @icon-color;
			img {
				width: 50%;
			}
			&_prev {
				left: -4rem;
			}
			&_next {
				right: -4rem;
			}
		}
		&__item {

			p {
				font-size: 1.6rem;
			}
			.media {
				margin-top: 3rem;
				font-size: 1.4rem;
				.media-body {
					margin-left: 0.9rem;
				}
				h5 {
					font-size: 1.6rem;
					.bold();
				}
				span {
					display: block;
					margin-bottom: 0.8rem;
				}
				
			}
			.feedback-slider__text {
				position: relative;
				margin-top: 2rem;
				font-style: italic;
				font-size: 1.5rem;
				max-width: 47rem;
				padding: 2rem 1.2rem 2rem 1.2rem;
				border: 2px solid @icon-color;
				line-height: 18px;
				&::before {
					content: '';
					height: 9px;
				    width: 9px;
				    background: url(../img/feedback/dialog.jpg) center center no-repeat;
				    background-size: cover;
				    position: absolute;
				    left: 20px;
				    bottom: 93px;
				}
			}		
		}
	}
	&-form {
		padding: 5rem 19.2/2rem;
		margin-top: 11rem;
		text-align: center;
		&__title {
			margin-bottom: 4rem;
			.bold();
			font-size: 2.2rem;
		}
		label {
			transform: translateX(-50%) translateY(19%);
		}
		&__btn {
			max-width: 25rem;
			margin: auto;
		}
		label {
			font-size: 1.3rem;
		}
	}
	.hand {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 30%;
	}	
}


 /* ------ Slick Slider feature------ */
.slick-active {
	outline: none;
}


.slick-slide img {
	display: inline-block;
}
.prev {
	background: url(../img/leftArrow.svg) center no-repeat;
	position: absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border: none;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-size: 65%;
	opacity: 0.7;
}
.next {
	background: url(../img/rightArrow.svg) center no-repeat;
	position: absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border: none;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background-size: 65%;
	opacity: 0.7;
}

 /* ------ Modal Windows------ */
.popup {
	display:none;
	position: fixed;
	left: 0;
	top: 0;
	bottom:0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.5);
	&__dialog {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	padding: 3rem 4.8rem;
	background-color: #fff;
	}
	&__content {
		text-align: center;
	}
	&__close {
		position: absolute;
		top: -6%;
		left: 102%;
		color: @btn-text-color;
		border:none;
		background-color: transparent;
		font-size: 5.3rem;
	}
	&__header {
		.bold;
		font-size: 1.8rem;
		margin: 0;
	}
	&__text {
		font-size: 1.8rem;
		width: 26rem;
		line-height: 2rem;
		margin: 0 auto 4rem;
	}
	&__form {
		position: static;
		padding: 0rem;
		display: block;
		textarea {
			padding-bottom: 1.1rem;
		}
	}

}

/*>1200px */
@media (min-width: 1200px) {

	.container {
   		 max-width: 1140px;
	}
	
}

/* 992-1199px */
@media screen and (max-width: 1199px) {
	
	.price-head__text {
		margin: 3rem 0 4rem;
	}
	.price-head__button {
		margin-bottom: 4rem;
	}

	.price-block {
		margin: 0 0 2rem;
		padding: 3rem 3rem 3rem;
		&__number {
			margin: 2rem 0 2.5rem;
		}
	}

	.feedback-slider__text {
		&::before {
			bottom: 111px!important;
		}
	}
	.feedback-form {
	    padding: 5rem 19.2/2rem;
	    margin-top: 7rem;
	}

	.feedback {
		&-slider {
			&__btn_prev {
				left: -2.3rem;
			}
			&__btn_next {
				right: -2.3rem;
			}
		}
	}


}

/* 768-991px */
@media screen and (max-width: 991px) {
	.price-block__button {
	    padding: 1.3rem 6rem;
	    margin: 2rem 0;
	}
	.features__slider {
	    margin-top: 6.5rem;
	}
	.main {
		background-position: top left;
	}

	.offer {
		text-align: center;
		&-form {
	    	margin-top: 17rem;
		}
		&__title {
			font-size: 3rem;
			width: 375px;
			line-height: 4rem;
			position: absolute;
			top: -10rem;
			right: 15rem;
		}
		&__text {
		    margin: 8rem 0 6rem;
		}
		&__trigger {
			margin-top: 6rem;
		}
	}

	.main-form {
		padding: 3rem 3rem 3rem;
		margin-top: 3rem;
	}

	.price-block__list {
		min-height: 100%;
	}

	.feedback-slider__text::before {
    	bottom: 93px!important;
    }
    .feedback h3 {
	    margin-bottom: 4.5rem;
	}

	
}

/* 576-767px */
@media screen and (max-width: 767px) {
	.form {
		small {
			display: block;
			margin-bottom: 2rem;
		}
	}
	.header-btn {
		margin-top: 17rem;
	}
	.offer__title {
		text-align: center;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		top: -13rem;
	}
	.offer-form {
	    margin-top: 1rem;
	}
	.offer__text {
		margin: 2rem auto;
	}
	.offer__coast {
		display: block;
		margin: 0 auto;
	}
	.main-form {
		padding: 1.6rem 4.7rem;
		&__title {
			margin: 0 auto 3.9rem;
		}
		&__info {
			left: 50%;
			transform: translateX(-50%) translateY(-13%);
		}

	}
	.features {
		&__title {
			margin-bottom: 5rem;
			font-size: 2.4rem;
		}
		&__block {
			h3 {
				margin: 3.7rem 0 2.9rem;
			}
		}
		&__slider {
		    margin-top: 7rem;
		}
	}
	.feedback-slider__text::before {
	    bottom: 111px!important;
	}
	.slick-dots li button:before {
		font-size: 4.7rem;
		color: #358015;
	}
	.slick-dots li.slick-active button:before {
	    color:  #358015;
	}
	.slick-dots {
		width: 50%;
		transform: translateX(24%);
	}	

}
/* 320-575px */
@media screen and (max-width: 575px) {
	.feedback {
		// .container {
		// 	padding: 0;
		// }
	}
	
	.form{
		padding: 1.6rem 1.7rem 3rem;
	}
	.prev {
		transform: translateX(227%) translateY(-542%);
	}
	.next {
		transform: translateX(-227%) translateY(-542%);
	}

	section {
		padding: 5rem 0 3.7rem;
	}

	
	.main {
		background: #fff url(../img/1.jpg) left center no-repeat;
		background-size: cover;
		padding: 0 0 8.6rem;
		.tel {
		    font-size: 1.4rem;
		}
		button {
			display: block;
			padding: 1.4rem 2rem;
		}
		.logo-small {
			margin-top: 3rem;
		}
		.offer {
			&-form {
				margin-top: 13rem;
			}
			&__title {
			    font-size: 2.2rem;
			    width: 275px;
			    line-height: 3rem;
			    top: -4rem;
			}
			&__text {
				margin: 2rem auto;
				text-align: center;
				font-size: 1.8rem;
			}

		}
		.main-form {
		    padding: 1.6rem 1.6rem;
		    &__title {
		    	width: 26.2rem;
		    }
		}
		.tel {
			background-color: @btn-text-color;
			padding: 1.2rem 0;
		}
	}

	.price {
		&-head__text {
			font-size: 1.8rem;
		}
		&-head__button {
			display: none;
		}
		&-block {
			margin-bottom: 3rem;
			min-height: 440px;
			h4 {
				margin: 0;
			}
			a {
				display: block;
				margin-bottom: 2.5rem;
				color: #286a0a!important;
				font-size: 1.8rem;
				&::after {
					content: '';
					display: block;
					background: #d4e0d4;
					width:19.3rem;
					height: 0.2rem;
					margin: -4px auto 0;
				}
			}
			&__list {
				display: none;
			}
		}
	}

	.feedback-slider {
		padding: 2rem 2rem;
	}
	.feedback-slider__text::before {
	    display: none;
	}
	.feedback-form__btn {
		margin-bottom: 3rem;
	}
	.hand {
		display: none;
	}
	.slick-dots {
		width: 50%;
		transform: translateX(44%);
	}	
}

	
